#encoding:UTF-8
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :用户名 %><br />
    <%= f.text_field :name, size: 20 %>
  </div>
  <div class="field">
    <%= f.label :收货地址 %><br />
    <%= f.text_area :address, row: 1, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :邮箱 %><br />
    <%= f.text_field :email, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :支付方式 %><br />
    <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: '选择支付方式' %>
  </div>
  <div class="actions">
    <%= f.submit '确认支付' %>
  </div>
<% end %>
