#encoding:UTF-8
<!DOCTYPE html>

<html>
<head>
  <title>在线商店</title>
  <%= stylesheet_link_tag 'scaffolds' %>
  <%= stylesheet_link_tag "store", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || "程序书架" %>
  <p> 日期：<%= Time.now %> </p>
</div>
  <div id="columns">
    <div id="side">
    <div id="cart">
      <% if @cart %>
  <%= hidden_div_if(@cart.line_items.empty?, id: "cart") do %>
    <%= render @cart %>
    <% end %>
  <% end %>
    </div>
    <a href="#">首页</a><br/>
    <a href="#">动态</a><br/>
    <a href="#">最新信息</a><br/>
    <a href="#">联系我</a><br/>
  </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
